[user]
	name = piercypixel
	email = piercypixel@gmail.com
[core]
	editor = code --wait
[pull]
	ff = only
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[rerere]
	enabled = true
[url "ssh://"]
	insteadOf = git://
[init]
	defaultBranch = main
[alias]
	fixup = "!f() { git fetch origin ${1:-main} && git rebase -i --autosquash origin/${1:-main}~$( git cherry -v origin/${1:-main} | wc -l | tr -d '[:space:]'); }; f"
